@media screen and (min-width:1025px){

    #taskbar ul{
        position:relative;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        list-style-type: none;
    }
    #taskbar a{
        color: white;
        text-decoration: none;
        font-size: 25px;
        
    }
    #taskbar a:hover{
        color:cyan
    }
    #taskbar li:hover{
        transform: scale(1.2);
        transition:transform 0.5s ease;

    }
    @keyframes slide{
        0%{transform:skewX(20deg) scale(1.2);}
        100%{transform:translateY(50px);}
    }
    #home pre{
        position:absolute;
        top:30%;
        font-size: 40px;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        display: flex;
        justify-content:space-around;
        flex-direction: column;
        word-spacing: 10px;
        animation: slide 2s linear;
    }
    #home img{
        height: 700px; 
        width:100%;
        display: flex;
    }
    
    .summary p{
        font-size:20px;
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        word-spacing: 8px;
        display: flex;
        justify-content: space-evenly;
    }
    
    #about:hover{
        background:linear-gradient(5deg,rgb(53, 82, 88));
        
    }
    .details{
        position:relative;
        border: solid 2px rgb(5, 85, 101);
        height:150px;
        width:800px;
        display: flex;
        justify-content: space-around;
        background-color:rgb(3, 54, 81);
    }
    .details:hover{
        transform: scale(1.1);
    }
    #skills p{
        font-size:20px;
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        word-spacing: 8px;
        display: flex;
    
    
    }
    .div_division{
        display:flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    .skill_names{
        display:flex;
        flex-direction: column;
        justify-content: space-evenly;
        gap: 15px;
    }
    .progress{
        position:relative;
        height: 20px;
        width:300px;
        border-radius:10px;
        background-color:white;
        
    }
    
    .progress-bar{
        
        height:100%;
        border-radius:10px;
        background-color:aqua;
    }
    .progress:hover{
        transform: scale(1.2);
        transition: all 0.3s ease;
    }
    .percent{
        position: absolute;
        color: black;
        font-size: 15px;
        top:0px;
        left:250px;

    }
    @keyframes spin {
        0%{transform: rotateX(90deg);}
        50%{transform: rotateY(45deg);}
        100%{transform: rotate(360deg);}
    }
    .skill_img img{
        width:800px; 
        height:400px;
        animation: spin 2s linear infinite;
    }
    #project:hover{
        background-image: url('moon-city-wallpaper.png');
        background-size: cover;
        background-repeat: no-repeat;
    }
    #project p:hover{
        transform: scale(0.9);
        transition: transform 0.3s ease-in-out;
    }
    #project p{
        font-size:20px;
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        word-spacing: 8px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    .connect p{
        font-size:15px;
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        word-spacing: 8px;
    }
    .connect{
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .contact_through{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    .send_mail{
        height:400px;
        width:300px;
        border-radius: 5px;
        background-color:cornflowerblue;
        color: black; 
        padding:15px; 
        
        
    }
    .send_mail form{
        
        position: relative;
        padding: 25px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        
    }
    .send_mail label{
        font-size: 15px;
        font-weight: bold;
        padding: 10px;
    }
    .send_mail button{
        position:relative;
        font-weight: bold;
        left:80px;
        border-radius:5px ;
        border-style: none;
        width:100px;
        padding-top: 8px;
        padding-bottom: 8px;

    }
    .send_mail button:hover{
        background-color: chocolate;
        transform: scale(1.2);
    }
    .send_mail input{
        padding: 5px;
        border-radius: 5px;
        border-style:none;
        background-color:beige;

    }
    .send_mail textarea{
        padding: 5px;
        border-radius: 5px;
        border-style:none;
        background-color:beige;

    }

    


}


@media screen and (min-width:481px) and (max-width:1024px){

    #taskbar ul{
        position:relative;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        list-style-type: none;
    }
    #taskbar a{
        color: white;
        text-decoration: none;
        font-size: 15px;
        
    }
    #taskbar a:hover{
        color:cyan
    }
    #taskbar li:hover{
        transform: scale(1.2);
        transition:transform 0.5s ease;

    }
    @keyframes slide{
        0%{transform:skewX(20deg) scale(1.2);}
        100%{transform:translateY(50px);}
    }
    #home pre{
        position:absolute;
        top:30%;
        font-size: 30px;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        display: flex;
        justify-content:space-around;
        flex-direction: column;
        word-spacing: 10px;
        animation: slide 2s linear;
    }
    #home img{
        height: 400px; 
        width:100%;
        display: flex;
    }
    
    .summary p{
        font-size:16px;
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        word-spacing: 8px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    
    #about:hover{
        background:linear-gradient(5deg,rgb(53, 82, 88));
        
    }
    .details{
        position:relative;
        border: solid 2px rgb(5, 85, 101);
        height:150px;
        width:500px;
        font-size: 15px;
        display: flex;
        justify-content: space-around;
        background-color:rgb(3, 54, 81);
    }
    .details:hover{
        transform: scale(1.1);
    }
    #skills p{
        font-size:15px;
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        word-spacing: 8px;
        display: flex;
    
    
    }
    .div_division{
        display:flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    .skill_names{
        display:flex;
        flex-direction: column;
        justify-content: space-evenly;
        gap: 12px;
    }
    .progress{
        position:relative;
        height: 15px;
        width:200px;
        border-radius:10px;
        background-color:white;
        
    }
    
    .progress-bar{
        
        height:100%;
        border-radius:10px;
        background-color:aqua;
    }
    .progress:hover{
        transform: scale(1.2);
        transition: all 0.3s ease;
    }
    .percent{
        position: absolute;
        color: black;
        font-size: 12px;
        top:0px;
        left:175px;

    }
    @keyframes spin {
        0%{transform: rotateX(90deg);}
        50%{transform: rotateY(45deg);}
        100%{transform: rotate(360deg);}
    }
    .skill_img img{
        width:350px;
        height:250px;
        animation: spin 2s linear infinite;
    }
    #project:hover{
        background-image: url('moon-city-wallpaper.png');
        background-size:cover;
        background-repeat:no-repeat
    }
    #project p:hover{
        transform: scale(0.9);
        transition: transform 0.3s ease-in-out;
    }
    #project p{
        font-size:15px;
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        word-spacing: 8px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    #connect p{
        font-size:15px;
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        word-spacing: 8px;
    }
    .connect{
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .contact_through{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        font-size:13px;
    }

    .send_mail{
        height:350px;
        width:250px;
        border-radius: 5px;
        background-color:cornflowerblue;
        color: black; 
        padding:10px; 
        
        
    }
    .send_mail form{
        
        position: relative;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        
    }
    .send_mail label{
        font-size: 12px;
        font-weight: bold;
        padding: 10px;
    }
    .send_mail button{
        position:relative;
        font-weight: bold;
        left:60px;
        border-radius:5px ;
        border-style: none;
        width:100px;
        padding-top: 8px;
        padding-bottom: 8px;

    }
    .send_mail button:hover{
        background-color: chocolate;
        transform: scale(1.2);
    }
    .send_mail input{
        padding: 5px;
        border-radius: 5px;
        border-style:none;
        background-color:beige;

    }
    .send_mail textarea{
        padding: 5px;
        border-radius: 5px;
        border-style:none;
        background-color:beige;

    }
    


}


@media screen and (max-width:480px){

    #taskbar ul{
        position:relative;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        list-style-type: none;
    }
    #taskbar a{
        color: white;
        text-decoration: none;
        font-size: 12px;
        
    }
    #taskbar a:hover{
        color:cyan
    }
    #taskbar li:hover{
        transform: scale(1.2);
        transition:transform 0.5s ease;

    }
    @keyframes slide{
        0%{transform:skewX(20deg) scale(1.2);}
        100%{transform:translateY(50px);}
    }
    #home pre{
        position:absolute;
        top:30%;
        font-size: 20px;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        display: flex;
        justify-content:space-around;
        flex-direction: column;
        word-spacing: 10px;
        animation: slide 2s linear;
    }
    #home img{
        height: 400px; 
        width:100%;
        display: flex;
    }
    
    .summary p{
        font-size:12px;
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        word-spacing: 8px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    
    #about:hover{
        background:linear-gradient(5deg,rgb(53, 82, 88));
        
    }
    .details{
        position:relative;
        border: solid 2px rgb(5, 85, 101);
        height:200px;
        width:300px;
        font-size: 12px;
        display: flex;
        flex-direction: column;
        background-color:rgb(3, 54, 81);
    }
    .details:hover{
        transform: scale(1.1);
    }
    #skills p{
        font-size:12px;
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        word-spacing: 8px;
        display: flex;
    
    
    }
    .div_division{
        display:flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    .skill_names{
        display:flex;
        flex-direction: column;
        justify-content: space-evenly;
        gap: 12px;
    }
    .progress{
        position:relative;
        height: 15px;
        width:150px;
        border-radius:10px;
        background-color:white;
        
    }
    
    .progress-bar{
        
        height:100%;
        border-radius:10px;
        background-color:aqua;
    }
    .progress:hover{
        transform: scale(1.2);
        transition: all 0.3s ease;
    }
    .percent{
        position: absolute;
        color: black;
        font-size: 12px;
        top:0px;
        left:125px;

    }
    @keyframes spin {
        0%{transform: rotateX(90deg);}
        50%{transform: rotateY(45deg);}
        100%{transform: rotate(360deg);}
    }
    .skill_img img{
        width:250px;
        height:250px;
        animation: spin 2s linear infinite;
    }
    #project:hover{
        background-image: url('moon-city-wallpaper.png');
        background-size:cover;
        background-repeat:no-repeat
    }
    #project p:hover{
        transform: scale(0.9);
        transition: transform 0.3s ease-in-out;
    }
    #project p{
        font-size:12px;
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        word-spacing: 8px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    #connect p{
        font-size:12px;
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        word-spacing: 8px;
    }
    .connect{
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .contact_through{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        font-size:11px;
    }

    .send_mail{
        height:350px;
        width:250px;
        border-radius: 5px;
        background-color:cornflowerblue;
        color: black; 
        padding:10px; 
        
        
    }
    .send_mail form{
        
        position: relative;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        
    }
    .send_mail label{
        font-size: 11px;
        font-weight: bold;
        padding: 10px;
    }
    .send_mail button{
        position:relative;
        font-weight: bold;
        left:60px;
        border-radius:5px ;
        border-style: none;
        width:100px;
        padding-top: 8px;
        padding-bottom: 8px;

    }
    .send_mail button:hover{
        background-color: chocolate;
        transform: scale(1.2);
    }
    .send_mail input{
        padding: 5px;
        border-radius: 5px;
        border-style:none;
        background-color:beige;

    }
    .send_mail textarea{
        padding: 5px;
        border-radius: 5px;
        border-style:none;
        background-color:beige;

    }
    


}
